@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
}

header {
    background-color: black;
    color: white;
    text-align: center;
    padding: 50px;
}

header > h1 {
    font-variant: small-caps;
}

a {
    color: white;
    text-decoration: none;
    font-weight: bolder;
}

a:hover {
    text-decoration: underline;
}

section {
    line-height: 2em;
    padding: 10vh 0px 10vh 30px;
}

section.normal {
    background-color: white;
    color: black;
}

section.imagem {
    background-color: rgb(48, 48, 48);
    color: white;
}

section.imagem > p {
    background-color: rgba(0, 0, 0, 0.24);
    width: 200px;
}

footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 6px;
}